<h1>Products</h1>
{{#each products}}
<div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
</div>
{{/each}}
<nav>
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">Previous</a>
    {{else}}
        <span>Previous</span>
    {{/if}}
    <span>Page {{page}} of {{totalPages}}</span>
    {{#if hasNextPage}}
        <a href="{{nextLink}}">Next</a>
    {{else}}
        <span>Next</span>
    {{/if}}
</nav>
